php_flag display_errors on

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^evento/([0-9]+)$ evento.php?id=$1 [L]
RewriteRule ^js/(.+)?$ js/$1 [NC,L]
RewriteRule ^jquery\.js$ jquery.js